@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #2c2e30;
  }

  .has-background-light {
    background-color: #131313 !important;
  }

  .has-background-white {
    background-color: #1c1c1c !important;
  }
}
