html {
  overflow-y: auto;
}

 .icon, .icon svg {
  width: auto;
  height: auto;
}

 .is-selectable {
   -webkit-touch-callout: default;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
 }

 .is-clickable {
   cursor: pointer;
 }

@media (prefers-color-scheme: dark) {
  hr {
    background-color: #262626;
  }

  body {
    color: white;
  }
}
