.modal-card {
  box-shadow: 0 10px 30px 0px #0000006b;
  border-radius: 10px;
}

.modal-card-head {
  border-bottom: none;
}

.modal-card-foot {
  border-top: none;
}

.modal-card-head {
  background-color: #efefef;
}

.modal-card-body, .modal-card-foot {
  background-color: #f7f7f7;
}

.modal-background {
  background-color: rgba(190, 190, 190, 0.5);
}

.modal-card-head.is-warning {
  background-color: $warning;
}

@media (prefers-color-scheme: dark) {
  .modal-background {
    background-color: rgba(70, 70, 70, 0.5);
  }

  .modal-card-head {
    background-color: #1e1e1e;
    color: #9f9f9f;
  }

  .modal-card-body, .modal-card-foot {
    background-color: #151515;
    color: whitesmoke;
  }

  .modal-card-title {
    color: #b6b6b6;
  }

  .modal-card-head.is-warning .modal-card-title {
    color: #1e1e1e;
  }
}
