// Set your colors
$primary: #16C1E3;
$primary-invert: findColorInvert($primary);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$success: #0fb569;
$success-invert: findColorInvert($success);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
(
  "white" : ($white, $black),
  "black" : ($black, $white),
  "light" : ($light, $light-invert),
  "dark" : ($dark, $dark-invert),
  "primary": ($primary, $primary-invert, $primary-light, $primary-dark),
  "link" : ($link, $link-invert, $link-light, $link-dark),
  "info" : ($info, $info-invert, $info-light, $info-dark),
  "success": ($success, $success-invert, $success-light, $success-dark),
  "warning": ($warning, $warning-invert, $warning-light, $warning-dark),
  "danger" : ($danger, $danger-invert, $danger-light, $danger-dark)),
$custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$family-primary:
        BlinkMacSystemFont,
        -apple-system,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        sans-serif
;

$menu-item-active-background-color: #d4e8ef;
$menu-item-active-color: $text-strong;
$menu-item-radius: 0;

$box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);

$modal-background-background-color: rgba($black, 0.1);
