@media (prefers-color-scheme: dark) {
  .b-steps .steps .step-items .step-item.is-active .step-marker {
    background-color: #2b2e30;
  }

  .b-steps .steps .step-items .step-item .step-marker {
    background-color: #9f9f9f;
    border-color: #2b2e30;
  }

  .step-title {
    color: #9f9f9f;
  }
}
