.has-text-weight-dark {
  font-weight: 800 !important;
}

.has-text-weight-darker {
  font-weight: 900 !important;
}

.has-line-height-small {
  line-height: 60%;
}

.has-line-height-large {
  line-height: 200%;
}

.step-content-box > .step-content > .section {
  padding: 1.5rem;
}

.step-content-box > .step-content {
  border-radius: 0.5em;
  margin-top: 1em;
  background-color: #fdfdfd;
  border: 1px solid #e9e9e9;
  box-shadow: 0 0 0.5rem 0 #00000017;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #9f9f9f;
  }

  .step-content-box > .step-content {
    border: 1px solid #434343;
    background-color: #262729;
  }
}
