.has-border-radius {
  border-radius: $box-radius;
}

.has-shadow-danger {
  box-shadow: 0 3px 30px rgba(115, 0, 0, 0.5);
}

.has-shadow-success {
  box-shadow: 0 3px 30px rgba(0, 123, 101, 0.7);
}

.has-shadow-dark {
  box-shadow: 0 3px 30px rgba(0, 68, 111, 0.5);
}

@media (prefers-color-scheme: dark) {
  .has-shadow-danger {
    box-shadow: 0 3px 30px rgba(255, 0, 36, 0.3);
  }

  .has-shadow-success {
    box-shadow: 0 3px 30px rgba(0, 255, 208, 0.3);
  }

  .has-shadow-dark {
    box-shadow: 0 3px 30px rgba(0, 156, 255, 0.3);
  }
}
