// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #16C1E3;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$family-primary:
        BlinkMacSystemFont,
        -apple-system,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        sans-serif
;

$menu-item-active-background-color: #d4e8ef;
$menu-item-active-color: $text-strong;
$menu-item-radius: 0;

$box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);

$modal-background-background-color: rgba($black, 0.1);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
